body {
    text-align: center;
    background-color: beige
}

#hi {
    width: 50%;
    height: 50%;
}

#hello {
    width: 50%;
    height: 50%;
}

#hrw {
    width: 50%;
    height: 50%;
}

#in {
    width: 50%;
    height: 50%;
}

#out {
    width: 50%;
    height: 50%;
}

#tim {
    width: 50%;
    height: 50%;
}

#ibox {
    width: 50%;
    height: 50%;
}
